{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}


{% block body %}


<!-----------------------start Tabs --------------------->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#users" data-toggle="tab" id ="users-tab"   role="tab">User Management</a>

  </li>
  <li class="nav-item">
    <a class="nav-link" href="#test"  data-toggle="tab" id ="test-tab" role="tab">Course Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"  data-toggle="tab" id ="not-tab" role="tab">Notifications</a>
  </li>

</ul>
<!-----------------------End Tabs --------------------->



<!-----------------------Start Tab Content --------------------->
<div class="tab-content " id="myTabContent">

  <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <br>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#create_user_form" aria-expanded="false" aria-controls="collapseExample">
                Create new User
          </button>
            <br>

            <br>
      <div class="collapse" id="create_user_form">
            <form method="post" action="/signin">
                <h4> Create new User</h4>
              <table >
                  <tbody>
                  <tr>
                      <td>{{ sign_up_form.name.label }}</td>
                      <td>{{ sign_up_form.name() }}</td>
                  </tr>
                  <tr>
                      <td>{{ sign_up_form.email.label }}</td>
                      <td>{{ sign_up_form.email() }}</td>
                  </tr>
                   <tr>
                      <td>{{ sign_up_form.username.label }}</td>
                      <td>{{ sign_up_form.username() }}</td>
                  </tr>
                   <tr>
                      <td>{{ sign_up_form.password.label }}</td>
                      <td>{{ sign_up_form.password() }}</td>
                  </tr>
                  <tr>
                      <td>{{ sign_up_form.confirm_pass.label }}</td>
                      <td>{{ sign_up_form.confirm_pass() }}</td>
                  </tr>
                  <tr>
                      <td>{{ sign_up_form.role.label }}</td>
                      <td>{{ sign_up_form.role() }}</td>
                  </tr>
                  </tbody>
              </table>
              {{ sign_up_form.submit() }}
          </form>
        </div>
           <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#update_user_form" aria-expanded="false" aria-controls="collapseExample">
                Update user
          </button>

        <div class="collapse" id="update_user_form">
            lorem ipsum
        </div>
  </div>

    <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab">
          <div class="card p-3">
              <h4></h4>
            other hi there
          </div>
  </div>
</div>

<!-----------------------End Tab Content --------------------->
{% endblock %}