{% extends "base.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-secondary" role="alert">
  {{message}}
  </div>
{% endfor %}
<form method = 'POST' action = "/add_user">
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input1" placeholder="name" name = "name">
    </div>
  </div>
<div class="form-group row">
    <label  class="col-sm-2 col-form-label">email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="input2" placeholder="email" name = "email">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">phone number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input3" placeholder="phone number" name = "phone number">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input4" placeholder="Address" name = "Address">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" name="signin" value="signin">Add user</button>
    </div>
  </div>
</form>
{% endblock %}