body, .main{
  width:100%;
  height:100%;
}
.first, .second{
  width:250px;
  height:250px;
  display: grid;
  grid-gap:1px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin:auto;
}
.first div:nth-child(n+0){
  background-color: darkorange;
}
.first div:nth-child(3n-1){
  background-color: gold;
}
.first div:nth-child(3n+3){
  background-color: maroon;
}
.second{
  margin-top:20px;
}
.second div:nth-child(n+0){
  background-color: lightgrey;
  }
.second div:nth-child(4n+2){
  background-color: lightsteelblue;
  }
.second div:nth-child(4n+3){
  background-color: grey;
  }
.second div:nth-child(4n+4){
  background-color: black;
  }

.third{
  width:250px;
  height:150px;
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top:5px;
  border-width:1px;
  border-color: black;
  border-style:solid;
 }
 .one, .two{
   display:grid;
   grid-template-columns: repeat(16, 1fr);
   grid-gap:1px;
   height:15%;
 }

.one div:nth-child(n+0){
  background-color: white;
  }
.one div:nth-child(2n+2){
    background-color: lightpink;
  }
.two div:nth-child(n+0){
    background-color: lightpink;
  }
.two div:nth-child(2n+2){
    background-color: red;
  }
